* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
}

#main {
  min-height: 100vh;
  padding-bottom: 50px;
  background: url('./assets/wood-grain.jpg');
}

.header {
  height: 60px;
  padding: 6px 0;
  background-color: rgba(25, 19, 15, 0.85);
}

h1 {
  color: #FFF;
  font-family: 'Merriweather Sans', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

.shelf-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.movie {
  margin: 15px;
}

.movie-poster {
  display: block;
  height: 200px;
  border-color: transparent;
  border-image: url('./assets/blu-ray-case.png') 94 stretch;
  border-style: solid;
  border-width: 16px 0 0;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .shelf-view {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px 40px;
  }
  
  .movie-poster {
    height: 400px;
    border-image: url('./assets/blu-ray-case.png') 94 stretch;
    border-width: 28px 0 0;
  }
}
