* {
  box-sizing: border-box;
  margin: -.50px;
  font-family: 'Lato', Arial, sans-serif;
}

#main {
  min-height: 100vh;
  padding-bottom: 50px;
  background: url('./assets/wood-grain.jpg');
}

.header {
  height: 84px;
  padding: 6px 0;
  background-color: rgba(25, 19, 15, 0.85);
  text-align: center;
}

h1 {
  color: #FFF;
  font-family: 'Merriweather Sans', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input {
  height: 24px;
  border: none;
  border-radius: 12px;
  outline: none;
}

button {
  width: 90px;
  margin: 0 8px;
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
}

input {
  width: 250px;
  padding-left: 8px;
  margin: 8px;
}

.shelf-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.movie {
  margin: 15px 0;
}

/*.movie-shelf-edge {
  position: relative;
  top: 10px;
  height: 20px;
  background-color: rgba(138, 93, 48, 0.85);
  box-shadow: 0px -20px rgb(96, 65, 33);*/
  /*width: 500px;
  overflow: */
}

.poster-favorite-container {
  position: relative;
  z-index: 1;
  width: 122px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 10px -4px 20px #28231C;
}

.movie-poster {
  display: block;
  height: 200px;
  border-color: transparent;
  border-image: url('./assets/blu-ray-case.png') 94 stretch;
  border-radius: 5px;
  border-style: solid;
  border-width: 16px 0 0;
  box-shadow: 2px 0 1px #0099df;
}

.favorite-btn {
  position: absolute;
  top: -10px;
  left: -12px;
  width: 35px;
  height: 35px;
  background: url('./assets/favorite.svg');
  cursor: pointer;
  z-index: 10;
  border: 1px solid white;
  border-radius: 50%;
}

.favorite-btn.active {
  background: url('./assets/favorite-active.svg');
}

.favorite-btn:hover {
  background: url('./assets/favorite-hover.svg');
}

.login, .create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  margin: 50px auto;
  background-color: rgba(235, 234, 234, 0.4);
  box-shadow: 3px 3px 10px #8A5D30;
}

.login {
  height: 275px;
}

.create-account-container {
  height: 230px;
}

.create-acct-prompt {
  margin: 40px 0 8px;
}

.error-msg {
  height: 29px;
  margin-top: 10px;
  color: #9F0001;
}

.back p, .back .overview {
  margin: 12;
}

@media screen and (min-width: 900px) {
  .movie {
    -webkit-perspective: 800;
    width: 122px;
    height: 200px;
    position: relative;
    margin: 50px auto;
  }
  .movie .poster-favorite-container.flipped {
    -webkit-transform: rotateY(-180deg);
  }
  .movie .poster-favorite-container {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
  }
  .movie .poster-favorite-container .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-family: Lato;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
  }
  .movie .poster-favorite-container .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
  }
  .movie .poster-favorite-container .back {
    padding: 3px;
    -webkit-transform: rotateY(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
  }

  .back p {
    line-height: 18px;
    font-size: 18px;
    text-align: left;
    margin: 16px 0 0 50px
  }

  .back h3 {
    text-align: left;
    line-height: 22px;
    font-size: 22px;
    margin: 16px 0 0 50px
  }

  .back .overview {
    height: 230px;
    margin: 16px 0 0 3px;
    overflow: auto;
  }

  .bold {
    font-style: "Merriweather sans";
    font-weight: 700;
  }
  .header {
    position: relative;
    height: 100px;
  }

  h1 {
    display: inline-block;
    margin-top: 10px;
    font-size: 52px;
  }

  .header-btn-container {
    position: absolute;
    z-index: 99;
    right: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
  }

  .shelf-view {
    padding: 10px 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .poster-favorite-container {
    width: 260px;
  }

  .movie {
    width: 260px;
    height: 400px;
  }

  .movie-poster {
    width: 260px;
    height: 400px;
    border-image: url('./assets/blu-ray-case.png') 94 stretch;
    border-radius: 5px;
    border-width: 28px 0 0;
  }

  .favorite-btn {
    top: -17px;
    left: -16px;
    width: 64px;
    height: 64px;
  }

  .login, .create-account-container {
    width: 600px;
  }
}
